.align-center {
    text-align: center !important;
}

.delivery-type {
    display: block;
    padding: 5px 8px;
    border-radius: 4px;
    color: #fff;
}
.delivery-type--local {
    background-color: #2ecc71;
}
.delivery-type--postal {
    background-color: #3498db;
}

.shipping-method {
    display: block;
    padding: 3px 6px;
    border-radius: 4px;
    color: #fff;
    border: 2px solid black;
}
.shipping-method--express {
    background-color: black;
}
.shipping-method--priority {
    color: black;
    background-color: transparent;
}

.shipping-method--standard {
    color: black;
    background-color: transparent;
}

.tracking-number {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    box-sizing: border-box;
    text-align: center;
}

.pltfrm-deliveries-wrap {
    position: relative;
    overflow: hidden;
}

.pltfrm-deliveries-wrap th.sorted a {
    display: inline-block;
}

.pltfrm-deliveries-wrap tr {
    transition: all .3s ease-in-out;
}

.pltfrm-deliveries-wrap tr + tr td {
    border-top: 1px solid #E1E1E2;
}

.pltfrm-deliveries-wrap tr td {
    vertical-align: middle;
}

.pltfrm-deliveries-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #f1f1f1;
    opacity: 0.6;
    display: none;
}

.pltfrm-deliveries-loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
}

.button.print-labels {
    display: block;
    text-align: center;
    transition: all .3s ease-in-out;
}

.button.complete {
    display: block;
    text-align: center;
}

.future {
    background: #ececec;
}

.flagged {
    background: #f1f8ff;
    .remove-flag {
        display: block;
    }
    .button.print-labels {
        opacity: 0.5;
    }
    .delivery-tracking {
        display: block;
    }
    .customer-b2b.address {
        display: block;
    }
}

.completed {
    background: #f2fff1;
}

.overdue {
    background: #fff1f1;
}

.remove-flag {
    display: none;
    text-align: center;
    border-top: 1px solid #d6e1ed;
    padding-top: 10px;
    margin-top: 15px;
}

.pltfrm-remove-flag {
    display: inline-block;
    // color: #a365bb;
    outline: none;
}

.pltfrm-remove-flag:focus {
    // color: #bb40eb;
    box-shadow: none;
}

.pltfrm-remove-flag:hover {
    // color: #bb40eb;
}

.delivery-actions {
    display: block;
    padding: 20px 0;
}

.delivery-tracking {
    display: none;
    margin-top: 10px;
}

.button:focus {
    box-shadow: none !important;
    border-color: #ccc !important;
}

.b2b {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    color: #fff;
    background-color: #f1bb3b;
    margin-bottom: 7px;
    margin-top: 8px;
}

.customer-b2b {
    display: block;
    &.address {
        display: none;
        hr {
            margin-bottom: 10px;
        }
    }
    hr {
        display: block;
        border-top: 1px solid #e1e1e2;
        border-bottom: none;
    }
}

.package {
    display: block;
    padding: 5px 0;
}

.delivery-complete {
    display: block;
    text-align: center;
    color: #46a83f;
    font-weight: bold;
}

.filter-deliveries {
    position: relative;
    display: inline-block;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 13px 12px 15px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    
    &.loading {
        opacity: 1;
        &:after {
            opacity: 0.8;
            visibility: visible;
        }
        .filter-loading {
            opacity: 1;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
    }

    .filter-loading {
        position: absolute;
        top: calc(50% - 8px);
        right: calc(50% - 8px);
        width: 15px;
        height: 15px;
        opacity: 0;
        transition: all .3s ease-in-out;
        z-index: 10;
    }

    .input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        .label {
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 9px;
            .clear {
                color: #d54e21;
                font-weight: normal;
                float: right;
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    input[type="date"] {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        background-color: white;
    }

    select {
        display: inline-block;
        min-width: 150px;
    }

    .button {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1px;
    }

}

.print-deliveries {
    position: absolute;
    bottom: 0;
    right: 0;
}

.deliveries-toolbar .show-filters {
    position: absolute;
    bottom: 0;
    left: 0;
}

.deliveries-toolbar {
    display: block;
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px;
    min-height: 80px;
    &.show-filters {
        .filter-deliveries {
            display: block;
        }
        .show-filters {
            display: none;
        }
    }
}

// Print styles
@media print {
    #adminmenumain,
    #wpfooter {
        display: none;
    }
    #wpcontent {
        margin-left: 0px;
    }
    .print-hide {
        display: none;
    }
    body {
        background-color: white;
    }
    .button {
        box-shadow: none !important;
    }
    .pltfrm-deliveries-wrap th.sorted a {
        color: #32373c;
    }
}
